---
import AuthenticationLayout from "../layouts/AuthenticationLayout.astro";
import ErrorIndicator from "../components/ErrorIndicator.astro";
import ErrorBanner from "../components/ErrorBanner.astro";
import { createUser } from "../utils/users";
import { isValidEmail } from "../utils/utils";

const errors = {
    username: "",
    email: "",
    password: "",
    confirm: "",
    signup: "",
};

const user_data = {
    username: "",
    email: "",
    password: "",
    confirm: "",
};

if(Astro.cookies.get("user")){
    return Astro.redirect("/");
}

if (Astro.request.method == "POST") {
    try {
        const data = await Astro.request.formData();
        user_data.username = String(data.get("username"));
        user_data.email = String(data.get("email"));
        user_data.password = String(data.get("password"));
        user_data.confirm = String(data.get("confirm"));

        if (typeof user_data.username !== "string" || user_data.username.length < 1) {
            errors.username = "Please enter a valid username";
        }

        if (typeof user_data.email !== "string" || !isValidEmail(user_data.email)) {
            errors.email =
                "This email is not valid. Make sure it has a format like this: example@email.com";
        }

        if (typeof user_data.password !== "string" || user_data.password.length < 8) {
            errors.password = "Password must be at least 8 characters.";
        }

        if (user_data.password !== user_data.confirm) {
            errors.confirm = "Password confirmation doesn't match Password";
        }

        const hasErrors = Object.values(errors).some((msg) => msg);

        if (!hasErrors) {
            const response = await createUser(user_data);
            if(response == user_data.username){
                return Astro.redirect("/login");
            }else{
                errors.signup = "This username or email address is alredy linked to an account."
            }
        }

    }catch (error) {
        if(error instanceof Error){
            console.error(error.message);
        }
    }
}

---

<AuthenticationLayout title="NomadCities - Signup">
    <div class="login-wrapper max-w-[750px] w-full">
        <div class="form-container auth-max:p-0 bg-black text-white rounded-lg py-10 flex flex-col">
            <h1 class="auth-max:pt-0 auth-max:pb-8 auth-max:text-left auth-max:text-2xl py-8 text-center text-4xl font-paytoneone">
                Sign up on NomadCities
            </h1>
            
            {errors.signup && <ErrorBanner msg={errors.signup}/>}

            <hr class="separator auth-max:mx-0 auth-max:mt-0 mx-20 my-8 border-t border-[#292929]" />
            <form class="signup-form auth-max:w-full w-[325px] mx-auto my-0" method="POST" autocomplete="nope">
                <div class="pb-4">
                    <label for="signup-email" class="font-paytoneone text-sm align-middle flex pb-2">
                        <span>What's your email</span>
                    </label>
                    <input 
                        type="email" 
                        name="email" 
                        id="signup-email"
                        placeholder="Email address."
                        autocapitalize="nope"
                        autocomplete="nope"
                        spellcheck="false"
                        class="appearance-none border-0 text-base font-normal bg-[#121212] p-3 rounded-md"
                        style={errors.email
                            ? "inline-size: 100%; box-shadow: inset 0 0 0 1px #ff0000;"
                            : "inline-size: 100%; box-shadow: inset 0 0 0 1px #727272;"}
                        value={user_data.email}
                    />
                    {errors.email && <ErrorIndicator msg={errors.email} />}
                </div>
                <div class="pb-4">
                    <label for="signup-username" class="font-paytoneone text-sm align-middle flex pb-2">
                        <span>What should we call you?</span>
                    </label>
                    <input 
                        type="text" 
                        name="username" 
                        id="signup-username"
                        placeholder="Enter a username."
                        autocapitalize="nope"
                        autocomplete="nope"
                        spellcheck="false"
                        class="appearance-none border-0 text-base font-normal bg-[#121212] p-3 rounded-md"
                        style={errors.username
                            ? "inline-size: 100%; box-shadow: inset 0 0 0 1px #ff0000;"
                            : "inline-size: 100%; box-shadow: inset 0 0 0 1px #727272;"}
                        value={user_data.username}
                    />
                    {errors.username && <ErrorIndicator msg={errors.username}/>}
                </div>
                <div class="pb-4">
                    <label for="signup-password" class="font-paytoneone text-sm align-middle flex pb-2">
                        <span>Create a password</span>
                    </label>
                    <input 
                        type="password" 
                        name="password" 
                        id="signup-password"
                        placeholder="Create a password."
                        autocapitalize="nope"
                        autocomplete="nope"
                        spellcheck="false"
                        class="appearance-none border-0 text-base font-normal bg-[#121212] p-3 rounded-md"
                        style={errors.password
                            ? "inline-size: 100%; box-shadow: inset 0 0 0 1px #ff0000;"
                            : "inline-size: 100%; box-shadow: inset 0 0 0 1px #727272;"}
                    />
                    {errors.password && <ErrorIndicator msg={errors.password} />}
                </div>
                <div class="pb-4">
                    <label for="signup-confirm" class="font-paytoneone text-sm align-middle flex pb-2">
                        <span>Confirm your password</span>
                    </label>
                    <input 
                        type="password" 
                        name="confirm" 
                        id="signup-confirm"
                        placeholder="Enter your password again"
                        autocapitalize="nope"
                        autocomplete="nope"
                        spellcheck="false"
                        class="appearance-none border-0 text-base font-normal bg-[#121212] p-3 rounded-md"
                        style={errors.confirm
                            ? "inline-size: 100%; box-shadow: inset 0 0 0 1px #ff0000;"
                            : "inline-size: 100%; box-shadow: inset 0 0 0 1px #727272;"}
                    />
                    {errors.confirm && <ErrorIndicator msg={errors.confirm} />}
                </div>
                <div class="py-8">
                    <button id="signup-button" class="w-full border-0 rounded-[500px] bg-[#473eb5] py-3">
                        <span>Sign up</span>
                    </button>
                </div>
            </form>
            <hr class="separator auth-max:mx-0 auth-max:mt-0 mx-20 my-8 border-t border-[#292929]" />
            <span class="text-center py-4">
                Have an account? <a href="/login" class="text-[#473eb5]">Log in</a>.
            </span>
        </div>
    </div>
</AuthenticationLayout>